@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

*{
  background-color: #FFFFC5;
  color:black;
  font-family: "Irish Grover", serif;
}

h1{
  color: #FF1493;
}

h2{
  color:red;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

#title {
  display:flex;
  flex-direction:row;
  justify-content: center;
}

/* looked up how to flip on w3schools */

#tree2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}